html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.top-header {background-color: orangered;

}

.menu-Item {
    color: honeydew;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.brand {
    font-size: 18px;
    font-weight: 600;
}

.box{
    background-color: darksalmon;
    padding: 20px;
    margin: 30px;
}
.title{
    font-size: 60px;
    background-color: rgb(255, 105, 180);
}

.text {font-size: 30px;}

.box2 {background-color: blueviolet;
padding: 20px;
margin-bottom: 20px;}

.button {
    color: honeydew;
    background-color: orangered ;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    width: 20%;
}

.image {
    width: 100%;
}

.main-content {
    max-width: 700px;
    margin: auto;
}

.bottom-footer {
    background-color: chocolate;
    padding: 20px;
    text-align: center;

}